.cart {
    background-color: orange;
    border: 1px solid gray;
    display: inline-block;
    width: 145px;
    /* padding: 13px; */
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-left: 1700px;
    position: absolute;
    top: 34px;
    height: 83px;
    font-size: 25px
}

#topBar {
    height: 125px;
    width: 1890px;
    border: 1px solid;
    border-color: #dbd9ca;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #3A425F;
}

.websitename {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 25px;
    color: white;
}