.cart {
    position: relative;
    top: 15px;
    left: 100px;
    height: 90px;
    width: 140px;
    background-color: orange;
    border-radius: 30px;
    border: 1px solid;
    border-color: brown;
    font-size: 23px;
}

#topBar {
    height: 125px;
    border: 1px solid;
    border-color: #dbd9ca;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #3A425F;
}

.websitename {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 25px;
    color: white;
}