.col-md-2 {
    position: relative;
    top: 30px;
}

.col-md-10 {
    position: relative;
    top: 30px;
}

.row {
    background-color: whitesmoke
}

.filter {
    position: relative;
    left: 30px;
    top: 30px;
}

.btn.btn-danger {
    position: relative;
    top: 40px;
    right: 200px;
}

.link {
    font-size: 20px;
}