<div id="wrapper">
    <div class="col-md-12">
        <!--   Header -->
        <app-header></app-header>
    </div>


    <!--   Duong dan  -->
    <div style="height: 50px" class="col-md-12">

        <div class="link">
            <a routerLink="/home"> <i class="fa fa-home" aria-hidden="true"></i>Home</a> > Category {{selectedCategoryId}}
        </div>

    </div>



    <div class="row">
        <div class="col-md-2">
            <!--   Nav Bar -->
            <app-navigation-bar></app-navigation-bar>

            <!--   Khung de filter gia-->
            <div class="filter">
                <p style="text-decoration: underline">Filter By Price</p>
                <p>From:</p> <input id="a" type="text">
                <p>To:</p> <input id="b" type="text">
                <input class="btn btn-danger" type="button" (click)="getPriceFilter()" value="Filter">
            </div>
        </div>

        <!--   Show Item -->
        <div class="col-md-10">
            <div *ngFor="let item of items">
                <app-item [item]="item" (onAddToCartEvent)="onAddToCartClick($event)"></app-item>

            </div>
        </div>
    </div>



</div>