<nav class="navbar navbar">
    <!-- Brand -->


    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>


        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Category
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" id="1" (click)="onSelectClick(1)" routerLink="/category/1">Shirt</a>
                <a class="dropdown-item" id="2" (click)="onSelectClick(2)" routerLink="/category/2">Accessory</a>

            </div>
        </li>
    </ul>
</nav>