ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    color: #000;
    background-color: red
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: black;
}

li a:hover:not(.active) {
    background-color: yellow;
    color: black;
    min-width: 300px;
}

.bar {
    position: absolute;
    top: 200px;
    left: 30px;
    font-size: 35px;
    color: #000
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
}

.li a {
    color: #000;
}

a.fa.fa-home {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.fa.fa-truck {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #F2CE5A;
}

li.dropdown {
    display: inline-block;
    color: #000
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}