<div id="wrapper">
    <app-header></app-header>
    <div id="central">
        <div class="item" *ngIf="item">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->

            <div class="container">
                <br>
                <hr>


                <div class="card">
                    <div class="row">
                        <aside class="col-sm-5 border-right">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <div>
                                        <a href="#"><img src="{{item.img}}"></a>
                                    </div>
                                </div>
                                <!-- slider-product.// -->

                                <!-- slider-nav.// -->
                            </article>
                            <!-- gallery-wrap .end// -->
                        </aside>
                        <aside class="col-sm-7">
                            <article class="card-body p-5">
                                <h3 class="title mb-3">{{item.name}}</h3>

                                <p class="price-detail-wrap">
                                    <span class="price h3 text-warning"> 
                    <span class="currency">US $</span><span class="num">{{item.price}}</span>
                                    </span>

                                </p>
                                <!-- price-detail-wrap .// -->
                                <dl class="item-property">
                                    <dt>Description</dt>
                                </dl>
                                <dl class="param param-feature">
                                    <dt>Model#</dt>

                                </dl>
                                <!-- item-property-hor .// -->
                                <dl class="param param-feature">
                                    <dt>Color</dt>

                                </dl>
                                <!-- item-property-hor .// -->
                                <dl class="param param-feature">
                                    <dt>Delivery</dt>

                                </dl>
                                <!-- item-property-hor .// -->

                                <hr>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <dl class="param param-inline">
                                            <dt> </dt>
                                            <dd>
                                                <input type="number" class="form-control text-center" [(ngModel)]="quantity">
                                            </dd>
                                        </dl>

                                    </div>

                                </div>

                                <hr>

                                <button class="btn btn-lg btn-outline-primary text-uppercase" (click)="onAddToCartClick()"> Add to cart </button>
                            </article>

                        </aside>

                    </div>

                </div>



            </div>
            <!--container.//-->



        </div>
        <app-navigation-bar></app-navigation-bar>
    </div>
</div>