<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="wrapper">
    <app-header></app-header>
    <a routerLink="/home" class="fa fa-home"> Home</a>
    <p class="carttext">>Cart</p>
    <div id="central">
        <div id="table">
            <table>
                <thead>
                    <tr>
                        <td>Item</td>
                        <td>Name</td>
                        <td>Quantity</td>
                        <td>Price</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of items">
                    <td></td>
                    <td>{{item.name}}</td>
                    <td class="col-sm-1 col-md-1">
                        <input type="number" min="1" name="txtSoluong" [(ngModel)]="item.quantity" />
                    </td>
                    <td>{{item.price}}</td>
                    <td class="total">{{item.quantity*item.price}}</td>
                </tbody>

            </table>
        </div>
        <div class="payment-details">
            <p class="tax">Tax:10</p>
            <p class="shipping">Shipping:10</p>
            <div class="total">Total: {{total}}</div>
        </div>
        <button class="payment-button">Pay now</button>
        <button class="continue-button">Continue Shopping</button>
    </div>

</div>